@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
}
.scroll-behaviour {
  scroll-behavior: smooth;
}
/* .overlay1 {
  background: url("../src/assets/overlayimg1.jpg") 0 0 / cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.overlay2 {
  background: url("../src/assets/overlayimg2.jpg") 0 0 / cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.background-clip {
  background: url("../src/assets/overlayimg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} */

/* Tooltip style */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  z-index: 1;
  right: 100%;
  top: 0%;
  transform: translate(-20%, -10%);
  background-color: #222;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  clip-path: polygon(
    85% 0%,
    90% 40%,
    100% 50%,
    90% 60%,
    85% 100%,
    0% 100%,
    0% 0%
  );
}

.tooltip-trigger {
  cursor: pointer;
}
